@require '../common/variables'

.home-sidebar-container
  width 100%
  height auto
  margin 0

  +redefine-tablet()
    margin 0

  +redefine-mobile()
    display block
    width 100%
    margin 0
    padding 0

  .sticky-container
    top: $navbar-height + 14px
    display grid
    gap 12px

  .sidebar-content
    redefine-container(
      false,
      1,
      1,
      16px,
      0
    )
    border 1px solid var(--border-color)
    box-shadow var(--redefine-box-shadow-flat)

    &[marginTop]
      margin-top 0

    .avatar img
        width 72px
        height 72px
        border-radius 50%
        box-shadow var(--redefine-box-shadow-flat)
        border 1px solid var(--border-color)
        padding 1px

        &:hover
          box-shadow var(--redefine-box-shadow)

    .author

      .name
        text-align center
        font-size 1.05rem
        font-weight 600
        color var(--second-text-color)

      .label
        text-align center
        font-size 0.8rem
        color var(--third-text-color)

  .sidebar-links
    overflow hidden
    redefine-container(
      false,
      1,
      1,
      12px,
      0
    )
    border 1px solid var(--border-color)
    box-shadow var(--redefine-box-shadow-flat)

    &[marginTop]
      margin-top 0

    .site-info
      background-color var(--background-color-transparent-40)
      margin -12px -12px 8px -12px
      border-radius $redefine-border-radius-large-top
      padding 12px
      border-bottom 1px solid var(--border-color)

      .site-name
        font-size 1rem
        font-weight 600
        color var(--second-text-color)
        font-family 'Chillax-Variable', sans-serif
        text-align center
        if hexo-config('global.fonts.title.enable') {
          font-family hexo-config('global.fonts.title.family')
        }

      .announcement
        font-size 0.9rem
        color var(--third-text-color)
        text-align center
        margin-top 10px
        margin-bottom 5px

    .links
      min-height 40px
      padding 6px 10px
      display flex
      justify-content flex-start
      align-items center
      color var(--second-text-color)
      text-align left
      border-radius $redefine-border-radius-small
      cursor pointer
      font-family $default-font-family

      .link-name
        font-weight 500

      .icon-space
        margin-right 8px

      &:hover
        color var(--primary-color)
        background-color var(--background-color-transparent-40)

      .icon
        font-size 1.2rem

      .label
        font-size 0.8rem

    .announcement-outside
      display flex
      justify-content center
      align-items center
      margin-top 10px
      margin-bottom 5px
      padding 5px 0
      color var(--second-text-color)
      text-align center
